html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: rgb(242, 237, 230);
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
}

.image {
 width: 200px;
 height: 200px;
}

main {
    border: solid red 1px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}